<!DOCTYPE html>
<html class="html" lang="fr-FR">
	<!-- Mirrored from aeli.africa/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Sep 2022 14:08:55 GMT -->
	<!-- Added by HTTrack -->
	<meta
	http-equiv="content-type" content="text/html;charset=UTF-8"/> <!-- /Added by HTTrack -->
	<head>
		<meta charset="UTF-8">
		<link rel="profile" href="https://gmpg.org/xfn/11">

		<title>aeli &#8211; PROPULSER L’ECOSYSTEME ENTREPRENEURIAL
		</title>
		<meta name='robots' content='max-image-preview:large'/>
		<meta name="viewport" content="width=device-width, initial-scale=1"><link rel='dns-prefetch' href='http://s.w.org/'/>
		<link rel="alternate" type="application/rss+xml" title="aeli &raquo; Flux" href="feed/index.html"/>
		<link rel="alternate" type="application/rss+xml" title="aeli &raquo; Flux des commentaires" href="comments/feed/index.html"/>
		<style id='wp-block-library-theme-inline-css'>
			.wp-block-audio figcaption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .wp-block-audio figcaption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.wp-block-code {
				border: 1px solid #ccc;
				border-radius: 4px;
				font-family: Menlo, Consolas, monaco, monospace;
				padding: 0.8em 1em
			}
			.wp-block-embed figcaption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .wp-block-embed figcaption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.blocks-gallery-caption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .blocks-gallery-caption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.wp-block-image figcaption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .wp-block-image figcaption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.wp-block-pullquote {
				border-top: 4px solid;
				border-bottom: 4px solid;
				margin-bottom: 1.75em;
				color: currentColor
			}
			.wp-block-pullquote__citation,
			.wp-block-pullquote cite,
			.wp-block-pullquote footer {
				color: currentColor;
				text-transform: uppercase;
				font-size: 0.8125em;
				font-style: normal
			}
			.wp-block-quote {
				border-left: 0.25em solid;
				margin: 0 0 1.75em;
				padding-left: 1em
			}
			.wp-block-quote cite,
			.wp-block-quote footer {
				color: currentColor;
				font-size: 0.8125em;
				position: relative;
				font-style: normal
			}
			.wp-block-quote.has-text-align-right {
				border-left: none;
				border-right: 0.25em solid;
				padding-left: 0;
				padding-right: 1em
			}
			.wp-block-quote.has-text-align-center {
				border: none;
				padding-left: 0
			}
			.wp-block-quote.is-large,
			.wp-block-quote.is-style-large,
			.wp-block-quote.is-style-plain {
				border: none
			}
			.wp-block-search .wp-block-search__label {
				font-weight: 700
			}
			:where(.wp-block-group.has-background) {
				padding: 1.25em 2.375em
			}
			.wp-block-separator.has-css-opacity {
				opacity: .4
			}
			.wp-block-separator {
				border: none;
				border-bottom: 2px solid;
				margin-left: auto;
				margin-right: auto
			}
			.wp-block-separator.has-alpha-channel-opacity {
				opacity: 1
			}
			.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
				width: 100px
			}
			.wp-block-separator.has-background:not(.is-style-dots) {
				border-bottom: none;
				height: 1px
			}
			.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
				height: 2px
			}
			.wp-block-table thead {
				border-bottom: 3px solid
			}
			.wp-block-table tfoot {
				border-top: 3px solid
			}
			.wp-block-table td,
			.wp-block-table th {
				padding: 0.5em;
				border: 1px solid;
				word-break: normal
			}
			.wp-block-table figcaption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .wp-block-table figcaption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.wp-block-video figcaption {
				color: #555;
				font-size: 13px;
				text-align: center
			}
			.is-dark-theme .wp-block-video figcaption {
				color: hsla(0, 0%, 100%, 0.65)
			}
			.wp-block-template-part.has-background {
				padding: 1.25em 2.375em;
				margin-top: 0;
				margin-bottom: 0
			}
		</style>
		<style id='global-styles-inline-css'>
			body {
				--wp--preset--color--black: #000000;
				--wp--preset--color--cyan-bluish-gray: #abb8c3;
				--wp--preset--color--white: #ffffff;
				--wp--preset--color--pale-pink: #f78da7;
				--wp--preset--color--vivid-red: #cf2e2e;
				--wp--preset--color--luminous-vivid-orange: #ff6900;
				--wp--preset--color--luminous-vivid-amber: #fcb900;
				--wp--preset--color--light-green-cyan: #7bdcb5;
				--wp--preset--color--vivid-green-cyan: #00d084;
				--wp--preset--color--pale-cyan-blue: #8ed1fc;
				--wp--preset--color--vivid-cyan-blue: #0693e3;
				--wp--preset--color--vivid-purple: #9b51e0;
				--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
				--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
				--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
				--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
				--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
				--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
				--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
				--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
				--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
				--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
				--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
				--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
				--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
				--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
				--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
				--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
				--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
				--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
				--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
				--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
				--wp--preset--font-size--small: 13px;
				--wp--preset--font-size--medium: 20px;
				--wp--preset--font-size--large: 36px;
				--wp--preset--font-size--x-large: 42px;
			}
			.has-black-color {
				color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-color {
				color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-color {
				color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-color {
				color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-color {
				color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-color {
				color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-color {
				color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-color {
				color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-color {
				color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-color {
				color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-color {
				color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-color {
				color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-black-background-color {
				background-color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-background-color {
				background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-background-color {
				background-color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-background-color {
				background-color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-background-color {
				background-color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-background-color {
				background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-background-color {
				background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-background-color {
				background-color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-background-color {
				background-color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-background-color {
				background-color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-background-color {
				background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-background-color {
				background-color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-black-border-color {
				border-color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-border-color {
				border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-border-color {
				border-color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-border-color {
				border-color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-border-color {
				border-color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-border-color {
				border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-border-color {
				border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-border-color {
				border-color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-border-color {
				border-color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-border-color {
				border-color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-border-color {
				border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-border-color {
				border-color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
				background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
			}
			.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
				background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
			}
			.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
				background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-orange-to-vivid-red-gradient-background {
				background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
			}
			.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
				background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
			}
			.has-cool-to-warm-spectrum-gradient-background {
				background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
			}
			.has-blush-light-purple-gradient-background {
				background: var(--wp--preset--gradient--blush-light-purple) !important;
			}
			.has-blush-bordeaux-gradient-background {
				background: var(--wp--preset--gradient--blush-bordeaux) !important;
			}
			.has-luminous-dusk-gradient-background {
				background: var(--wp--preset--gradient--luminous-dusk) !important;
			}
			.has-pale-ocean-gradient-background {
				background: var(--wp--preset--gradient--pale-ocean) !important;
			}
			.has-electric-grass-gradient-background {
				background: var(--wp--preset--gradient--electric-grass) !important;
			}
			.has-midnight-gradient-background {
				background: var(--wp--preset--gradient--midnight) !important;
			}
			.has-small-font-size {
				font-size: var(--wp--preset--font-size--small) !important;
			}
			.has-medium-font-size {
				font-size: var(--wp--preset--font-size--medium) !important;
			}
			.has-large-font-size {
				font-size: var(--wp--preset--font-size--large) !important;
			}
			.has-x-large-font-size {
				font-size: var(--wp--preset--font-size--x-large) !important;
			}
		</style>
		<link rel='stylesheet' id='wpo_min-header-0-css' href='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-header-dea75ec9.min.css' media='all'/>
		<script src='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-header-f5340c16.min.js' id='wpo_min-header-0-js'></script>
		<link rel="https://api.w.org/" href="wp-json/index.html"/><link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/7.json"/><link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd"/>
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml"/>
		<meta name="generator" content="WordPress 6.0.2"/>
		<link rel="canonical" href="index.html"/>
		<link rel='shortlink' href='index.html'/>
		<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed870b.json?url=https%3A%2F%2Faeli.africa%2F"/>
		<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed2998?url=https%3A%2F%2Faeli.africa%2F&amp;format=xml"/>
		<link rel="icon" href="wp-content/uploads/2022/07/cropped-logo-2-32x32.png" sizes="32x32"/>
		<link rel="icon" href="wp-content/uploads/2022/07/cropped-logo-2-192x192.png" sizes="192x192"/>
		<link rel="apple-touch-icon" href="wp-content/uploads/2022/07/cropped-logo-2-180x180.png"/>
		<meta name="msapplication-TileImage" content="wp-content/uploads/2022/07/cropped-logo-2-270x270.png"/>
		<style>
			id="wp-custom-css"/** Start Block Kit CSS:71-3-d415519effd9e11f35d2438c58ea7ebf **/
			.envato-block__preview {
				overflow: visible
			} /** End Block Kit CSS:71-3-d415519effd9e11f35d2438c58ea7ebf **/ /** Start Template Kit CSS:Accounting Firm (css/customizer.css) **/ /* Kit 80 Custom Styles - classes are added to the Advanced tab of the element they affect */
			.envato-kit-80-space-triangle.elementor-widget-spacer .elementor-widget-container {
				border-left-color: transparent !important;
				border-bottom-color: transparent !important;
				width: 10px
			}
			.envato-kit-80-space-triangle .elementor-widget-container {
				position: absolute !important;
				top: 0 !important;
				right: 0
			}
			.envato-kit-80-space-triangle-bottom.elementor-widget-spacer .elementor-widget-container {
				border-top-color: transparent !important;
				border-right-color: transparent !important;
				width: 10px
			}
			.envato-kit-80-space-triangle-mid.elementor-widget-spacer .elementor-widget-container {
				border-left-color: transparent !important;
				border-right-color: transparent !important;
				width: 10px;
				border-bottom-color: transparent !important;
				width: 10px
			} /* CTA Button icon */
			.envato-kit-80-cta .elementor-button-icon {
				color: #ed8b00
			} /* Large heading Rotate - Our staff */
			.envato-kit-80-rotate-heading {
				transform: rotate(-90deg)
			} /** End Template Kit CSS:Accounting Firm (css/customizer.css) **/ /** Start Block Kit CSS:141-3-1d55f1e76be9fb1a8d9de88accbe962f **/
			.envato-kit-138-bracket .elementor-widget-container >*:before {
				content: "[";color:#ffab00;display:inline-block;margin-right:4px;line-height:1em;position:relative;top:-1px}.envato-kit-138-bracket .elementor-widget-container >*:after{content:"]";
				color: #ffab00;
				display: inline-block;
				margin-left: 4px;
				line-height: 1em;
				position: relative;
				top: -1px
			} /** End Block Kit CSS:141-3-1d55f1e76be9fb1a8d9de88accbe962f **/ /** Start Block Kit CSS:136-3-fc37602abad173a9d9d95d89bbe6bb80 **/
			.envato-block__preview {
				overflow: visible !important
			} /** End Block Kit CSS:136-3-fc37602abad173a9d9d95d89bbe6bb80 **/
		</style>
		<!-- OceanWP CSS -->
		<style>
			type="text/css"/* Header CSS */
			#site-header {
				border-color: #ffffff
			}
			#site-header.has-header-media .overlay-header-media {
				background-color: rgba(0, 0, 0, 0.5)
			}
			#site-logo #site-logo-inner a img,
			#site-header.center-header #site-navigation-wrap .middle-site-logo a img {
				max-width: 500px
			}
			#site-header #site-logo #site-logo-inner a img,
			#site-header.center-header #site-navigation-wrap .middle-site-logo a img {
				max-height: 75px
			}
			.effect-one #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:after,
			.effect-three #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:after,
			.effect-five #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:before,
			.effect-five #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:after,
			.effect-nine #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:before,
			.effect-nine #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:after {
				background-color: #9a1c23
			}
			.effect-four #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:before,
			.effect-four #site-navigation-wrap .dropdown-menu >li >a.menu-link >span:after,
			.effect-seven #site-navigation-wrap .dropdown-menu >li >a.menu-link:hover >span:after,
			.effect-seven #site-navigation-wrap .dropdown-menu >li.sfHover >a.menu-link >span:after {
				color: #9a1c23
			}
			.effect-seven #site-navigation-wrap .dropdown-menu >li >a.menu-link:hover >span:after,
			.effect-seven #site-navigation-wrap .dropdown-menu >li.sfHover >a.menu-link >span:after {
				text-shadow: 10px 0 #9a1c23, -10px 0 #9a1c23
			}
			#site-navigation-wrap .dropdown-menu > li > a,
			.oceanwp-mobile-menu-icon a,
			#searchform-header-replace-close {
				color: #d05528
			}
			#site-navigation-wrap .dropdown-menu > li > a .owp-icon use,
			.oceanwp-mobile-menu-icon a .owp-icon use,
			#searchform-header-replace-close .owp-icon use {
				stroke: #d05528
			}
			#site-navigation-wrap .dropdown-menu >li >a:hover,
			.oceanwp-mobile-menu-icon a:hover,
			#searchform-header-replace-close:hover {
				color: #9a1c23
			}
			#site-navigation-wrap .dropdown-menu >li >a:hover .owp-icon use,
			.oceanwp-mobile-menu-icon a:hover .owp-icon use,
			#searchform-header-replace-close:hover .owp-icon use {
				stroke: #9a1c23
			} /* Top Bar CSS */
			#top-bar-social li a {
				color: #d05528
			}
			#top-bar-social li a .owp-icon use {
				stroke: #d05528
			} /* Typography CSS */
			#site-logo a.site-logo-text {
				line-height: 1
			}
			#site-navigation-wrap .dropdown-menu > li > a,
			#site-header.full_screen-header .fs-dropdown-menu >li >a,
			#site-header.top-header #site-navigation-wrap .dropdown-menu >li >a,
			#site-header.center-header #site-navigation-wrap .dropdown-menu >li >a,
			#site-header.medium-header #site-navigation-wrap .dropdown-menu >li >a,
			.oceanwp-mobile-menu-icon a {
				font-size: 15px
			}
		</style>
	</head>

	<body class="home page-template-default page page-id-7 wp-custom-logo wp-embed-responsive oceanwp-theme dropdown-mobile no-header-border default-breakpoint content-full-screen has-topbar page-header-disabled has-breadcrumbs elementor-default elementor-kit-16 elementor-page elementor-page-7" itemscope="itemscope" itemtype="https://schema.org/WebPage">

		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0.49803921568627"/><feFuncG type="table" tablevalues="0 0.49803921568627"/><feFuncB type="table" tablevalues="0 0.49803921568627"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.54901960784314 0.98823529411765"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.71764705882353 0.25490196078431"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 0.27843137254902"/><feFuncB type="table" tablevalues="0.5921568627451 0.27843137254902"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0"/><feFuncG type="table" tablevalues="0 0.64705882352941"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.78039215686275 1"/><feFuncG type="table" tablevalues="0 0.94901960784314"/><feFuncB type="table" tablevalues="0.35294117647059 0.47058823529412"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.65098039215686 0.40392156862745"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.44705882352941 0.4"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.098039215686275 1"/><feFuncG type="table" tablevalues="0 0.66274509803922"/><feFuncB type="table" tablevalues="0.84705882352941 0.41960784313725"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>

		<div id="outer-wrap" class="site clr">

			<a class="skip-link screen-reader-text" href="#main">Skip to content</a>


			<div id="wrap" class="clr">


				<div id="top-bar-wrap" class="clr">

					<div id="top-bar" class="clr container">


						<div id="top-bar-inner" class="clr">


							<div id="top-bar-content" class="clr has-content top-bar-left">


								<span class="topbar-content">

									administration@aeli.africa  |
																																																																																																																																																																																																																																										   +261 34 19 777 37
								</span>


							</div>
							<!-- #top-bar-content -->


							<div id="top-bar-social" class="clr top-bar-right">

								<ul class="clr" aria-label="Social links">

									<li class="oceanwp-facebook">
										<a href="#" aria-label="Facebook (opens in a new tab)" target="_blank" rel="noopener noreferrer">
											<i class=" fab fa-facebook" aria-hidden="true" role="img"></i>
										</a>
									</li>
									<li class="oceanwp-instagram">
										<a href="#" aria-label="Instagram (opens in a new tab)" target="_blank" rel="noopener noreferrer">
											<i class=" fab fa-instagram" aria-hidden="true" role="img"></i>
										</a>
									</li>
									<li class="oceanwp-linkedin">
										<a href="#" aria-label="LinkedIn (opens in a new tab)" target="_blank" rel="noopener noreferrer">
											<i class=" fab fa-linkedin" aria-hidden="true" role="img"></i>
										</a>
									</li>
									<li class="oceanwp-youtube">
										<a href="#" aria-label="YouTube (opens in a new tab)" target="_blank" rel="noopener noreferrer">
											<i class=" fab fa-youtube" aria-hidden="true" role="img"></i>
										</a>
									</li>
								</ul>

							</div>
							<!-- #top-bar-social -->

						</div>
						<!-- #top-bar-inner -->


					</div>
					<!-- #top-bar -->

				</div>
				<!-- #top-bar-wrap -->


				<header id="site-header" class="minimal-header effect-one clr" data-height="74" itemscope="itemscope" itemtype="https://schema.org/WPHeader" role="banner">


					<div id="site-header-inner" class="clr container">


						<div id="site-logo" class="clr" itemscope itemtype="https://schema.org/Brand">


							<div id="site-logo-inner" class="clr">

								<a href="/" class="custom-logo-link" rel="home" aria-current="page"><img width="1754" height="896" src="wp-content/uploads/2022/07/logo-2.png" class="custom-logo" alt="aeli" srcset="wp-content/uploads/2022/07/logo-2.png 1754w, wp-content/uploads/2022/07/logo-2.png 300w, wp-content/uploads/2022/07/logo-2.png 1024w, wp-content/uploads/2022/07/logo-2.png 768w, wp-content/uploads/2022/07/logo-2.png 1536w" sizes="(max-width: 1754px) 100vw, 1754px"/></a>
							</div>
							<!-- #site-logo-inner -->


						</div>
						<!-- #site-logo -->

						<div id="site-navigation-wrap" class="clr">


							<nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">

								<ul id="menu-menu" class="main-menu dropdown-menu sf-menu">
									<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-24">
										<a href="/" class="menu-link">
											<span class="text-wrap">Accueil</span>
										</a>
									</li>
									<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-24">
										<a href="/a-propos" class="menu-link">
											<span class="text-wrap">A propos</span>
										</a>
									</li>
									<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
										<a href="/notre-institution" class="menu-link">
											<span class="text-wrap">Notre institution</span>
										</a>
									</li>
									<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
										<a href="/nos-formations" class="menu-link">
											<span class="text-wrap">Nos formations</span>
										</a>
									</li>
									<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
										<a href="/nous-contacter" class="menu-link">
											<span class="text-wrap">Nous contacter</span>
										</a>
									</li>
									<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
										<a href="/inscription" class="menu-link">
											<span class="text-wrap">S'inscrire</span>
										</a>
									</li>
									<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
										<a href="/connexion" class="menu-link">
											<span class="text-wrap">Se connecter</span>
										</a>
									</li>
								</ul>
							</nav>
							<!-- #site-navigation -->


						</div>
						<!-- #site-navigation-wrap -->


						<div class="oceanwp-mobile-menu-icon clr mobile-right">


							<a href="#" class="mobile-menu" aria-label="Menu mobile">
								<i class="fa fa-bars" aria-hidden="true"></i>
								<span class="oceanwp-text">Menu</span>
								<span class="oceanwp-close-text">Fermer</span>
							</a>


						</div>
						<!-- #oceanwp-mobile-menu-navbar -->


					</div>
					<!-- #site-header-inner -->


					<div id="mobile-dropdown" class="clr">

						<nav class="clr" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">

							<ul id="menu-menu-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-24">
									<a href="/" aria-current="page">Accueil</a>
								</li>
								<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-24">
									<a href="/a-propos" class="menu-link">
										<span class="text-wrap">A propos</span>
									</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
									<a href="/notre-institution">Notre institution</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
									<a href="/nos-formations">Nos formations</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
									<a href="/nous-contacter">Nous contacter</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
									<a href="/inscription">S'inscrire</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
									<a href="/connexion">Se connecter</a>
								</li>
							</ul>
							<div id="mobile-menu-search" class="clr">
								<form aria-label="Rechercher sur ce site" method="get" action="https://aeli.africa/" class="mobile-searchform" role="search">
									<input aria-label="Insert search query" value="" class="field" id="ocean-mobile-search-1" type="search" name="s" autocomplete="off" placeholder="Rechercher"/>
									<button aria-label="Envoyer la recherche" type="submit" class="searchform-submit">
										<i class=" icon-magnifier" aria-hidden="true" role="img"></i>
									</button>
								</form>
							</div>
							<!-- .mobile-menu-search -->

						</nav>

					</div>


				</header>

				<!-- #site-header -->


				<main id="main" class="site-main clr" role="main">


					<div id="content-wrap" class="container clr">


						<div id="primary" class="content-area clr">


							<div id="content" class="site-content clr">


								<article class="single-page-article clr">


									<div class="entry clr" itemprop="text">


										<div data-elementor-type="wp-page" data-elementor-id="7" class="elementor elementor-7">
											<section class="elementor-section elementor-top-section elementor-element elementor-element-4ed6d5f elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4ed6d5f" data-element_type="section">
												<div class="elementor-background-overlay"></div>
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6dd73e6" data-id="6dd73e6" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-3d3c8bb7 elementor-widget elementor-widget-heading" data-id="3d3c8bb7" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<style>
																		/*! elementor - v3.6.7 - 03-07-2022 */
																		.elementor-heading-title {
																			padding: 0;
																			margin: 0;
																			line-height: 1
																		}
																		.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
																			color: inherit;
																			font-size: inherit;
																			line-height: inherit
																		}
																		.elementor-widget-heading .elementor-heading-title.elementor-size-small {
																			font-size: 15px
																		}
																		.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
																			font-size: 19px
																		}
																		.elementor-widget-heading .elementor-heading-title.elementor-size-large {
																			font-size: 29px
																		}
																		.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
																			font-size: 39px
																		}
																		.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
																			font-size: 59px
																		}
																	</style>
																	<h1 class="elementor-heading-title elementor-size-default">Propulser l'écosystème</h1>
																</div>
															</div>
															<div class="elementor-element elementor-element-9905a76 elementor-widget elementor-widget-heading" data-id="9905a76" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h1 class="elementor-heading-title elementor-size-default">Entrepreneurial</h1>
																</div>
															</div>
															<div class="elementor-element elementor-element-29d2563a elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="29d2563a" data-element_type="widget" data-widget_type="divider.default">
																<div class="elementor-widget-container">
																	<style>
																		/*! elementor - v3.6.7 - 03-07-2022 */
																		.elementor-widget-divider {
																			--divider-border-style: none;
																			--divider-border-width: 1px;
																			--divider-color: #2c2c2c;
																			--divider-icon-size: 20px;
																			--divider-element-spacing: 10px;
																			--divider-pattern-height: 24px;
																			--divider-pattern-size: 20px;
																			--divider-pattern-url: none;
																			--divider-pattern-repeat: repeat-x
																		}
																		.elementor-widget-divider .elementor-divider {
																			display: -webkit-box;
																			display: -ms-flexbox;
																			display: flex
																		}
																		.elementor-widget-divider .elementor-divider__text {
																			font-size: 15px;
																			line-height: 1;
																			max-width: 95%
																		}
																		.elementor-widget-divider .elementor-divider__element {
																			margin: 0 var(--divider-element-spacing);
																			-ms-flex-negative: 0;
																			flex-shrink: 0
																		}
																		.elementor-widget-divider .elementor-icon {
																			font-size: var(--divider-icon-size)
																		}
																		.elementor-widget-divider .elementor-divider-separator {
																			display: -webkit-box;
																			display: -ms-flexbox;
																			display: flex;
																			margin: 0;
																			direction: ltr
																		}
																		.elementor-widget-divider--view-line_icon .elementor-divider-separator,
																		.elementor-widget-divider--view-line_text .elementor-divider-separator {
																			-webkit-box-align: center;
																			-ms-flex-align: center;
																			align-items: center
																		}
																		.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,
																		.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,
																		.elementor-widget-divider--view-line_text .elementor-divider-separator:after,
																		.elementor-widget-divider--view-line_text .elementor-divider-separator:before {
																			display: block;
																			content: "";
																			border-bottom: 0;
																			-webkit-box-flex: 1;
																			-ms-flex-positive: 1;
																			flex-grow: 1;
																			border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
																		}
																		.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type {
																			-webkit-box-flex: 0;
																			-ms-flex-positive: 0;
																			flex-grow: 0;
																			-ms-flex-negative: 100;
																			flex-shrink: 100
																		}
																		.elementor-widget-divider--element-align-left .elementor-divider-separator:before {
																			content: none
																		}
																		.elementor-widget-divider--element-align-left .elementor-divider__element {
																			margin-left: 0
																		}
																		.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type {
																			-webkit-box-flex: 0;
																			-ms-flex-positive: 0;
																			flex-grow: 0;
																			-ms-flex-negative: 100;
																			flex-shrink: 100
																		}
																		.elementor-widget-divider--element-align-right .elementor-divider-separator:after {
																			content: none
																		}
																		.elementor-widget-divider--element-align-right .elementor-divider__element {
																			margin-right: 0
																		}
																		.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
																			border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
																		}
																		.elementor-widget-divider--separator-type-pattern {
																			--divider-border-style: none
																		}
																		.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,
																		.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,
																		.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,
																		.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator {
																			width: 100%;
																			min-height: var(--divider-pattern-height);
																			-webkit-mask-size: var(--divider-pattern-size) 100%;
																			mask-size: var(--divider-pattern-size) 100%;
																			-webkit-mask-repeat: var(--divider-pattern-repeat);
																			mask-repeat: var(--divider-pattern-repeat);
																			background-color: var(--divider-color);
																			-webkit-mask-image: var(--divider-pattern-url);
																			mask-image: var(--divider-pattern-url)
																		}
																		.elementor-widget-divider--no-spacing {
																			--divider-pattern-size: auto
																		}
																		.elementor-widget-divider--bg-round {
																			--divider-pattern-repeat: round
																		}
																		.rtl .elementor-widget-divider .elementor-divider__text {
																			direction: rtl
																		}
																	</style>
																	<div class="elementor-divider">
																		<span class="elementor-divider-separator"></span>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-1dcaa7f5 elementor-widget elementor-widget-text-editor" data-id="1dcaa7f5" data-element_type="widget" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<style>
																		/*! elementor - v3.6.7 - 03-07-2022 */
																		.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
																			background-color: #818a91;
																			color: #fff
																		}
																		.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
																			color: #818a91;
																			border: 3px solid;
																			background-color: transparent
																		}
																		.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
																			margin-top: 8px
																		}
																		.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
																			width: 1em;
																			height: 1em
																		}
																		.elementor-widget-text-editor .elementor-drop-cap {
																			float: left;
																			text-align: center;
																			line-height: 1;
																			font-size: 50px
																		}
																		.elementor-widget-text-editor .elementor-drop-cap-letter {
																			display: inline-block
																		}
																	</style>
																	<p>Lancez et développez votre entreprise tout en décrochant votre diplôme</p>
																</div>
															</div>
															<section class="elementor-section elementor-inner-section elementor-element elementor-element-2a956bc elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="2a956bc" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
																<div class="elementor-container elementor-column-gap-no">
																	<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ae346e1" data-id="ae346e1" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-3b97c8ae elementor-align-left elementor-widget elementor-widget-button" data-id="3b97c8ae" data-element_type="widget" data-widget_type="button.default">
																				<div class="elementor-widget-container">
																					<div class="elementor-button-wrapper">
																						<a href="#" class="elementor-button-link elementor-button elementor-size-lg" role="button">
																							<span class="elementor-button-content-wrapper">
																								<span class="elementor-button-text">LICENCE = ENTREPRISE DE 3 ANS
																								</span>
																							</span>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-78878bf" data-id="78878bf" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-37fe786 elementor-widget elementor-widget-button" data-id="37fe786" data-element_type="widget" data-widget_type="button.default">
																				<div class="elementor-widget-container">
																					<div class="elementor-button-wrapper">
																						<a href="#" class="elementor-button-link elementor-button elementor-size-lg" role="button">
																							<span class="elementor-button-content-wrapper">
																								<span class="elementor-button-text">MASTER = ENTREPRISE DE 5 ANS
																								</span>
																							</span>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9d2a3b7" data-id="9d2a3b7" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-fe1e861 elementor-widget elementor-widget-image" data-id="fe1e861" data-element_type="widget" data-widget_type="image.default">
																<div class="elementor-widget-container">
																	<style>
																		/*! elementor - v3.6.7 - 03-07-2022 */
																		.elementor-widget-image {
																			text-align: center
																		}
																		.elementor-widget-image a {
																			display: inline-block
																		}
																		.elementor-widget-image a img[src$=".svg"] {
																			width: 48px
																		}
																		.elementor-widget-image img {
																			vertical-align: middle;
																			display: inline-block
																		}
																	</style>
																	<img width="1024" height="1024" src="wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-1024x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-1024x1024.png 1024w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-300x300.png 300w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-150x150.png 150w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-768x768.png 768w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-1536x1536.png 1536w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-2048x2048.png 2048w, wp-content/uploads/2022/07/vehivavy-png-1-1-1-1-600x600.png 600w" sizes="(max-width: 1024px) 100vw, 1024px"/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-top-section elementor-element elementor-element-1ad348bd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1ad348bd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-484f68c2" data-id="484f68c2" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-7e669508 elementor-widget elementor-widget-image" data-id="7e669508" data-element_type="widget" data-widget_type="image.default">
																<div class="elementor-widget-container">
																	<img width="1024" height="1024" src="wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-1024x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-1024x1024.png 1024w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-300x300.png 300w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-150x150.png 150w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-768x768.png 768w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-1536x1536.png 1536w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-2048x2048.png 2048w, wp-content/uploads/2022/07/sary-vehivavy-01-1-1-1-600x600.png 600w" sizes="(max-width: 1024px) 100vw, 1024px"/>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4e4a029f" data-id="4e4a029f" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-34dec2cf elementor-widget elementor-widget-heading" data-id="34dec2cf" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h4 class="elementor-heading-title elementor-size-default">A PROPOS</h4>
																</div>
															</div>
															<div class="elementor-element elementor-element-2523211b elementor-widget elementor-widget-heading" data-id="2523211b" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">Lancez et développez votre entreprise tout en décrochant votre diplôme</h2>
																</div>
															</div>
															<section class="elementor-section elementor-inner-section elementor-element elementor-element-6d1d2e5c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6d1d2e5c" data-element_type="section">
																<div class="elementor-container elementor-column-gap-default">
																	<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7ed1cb6a" data-id="7ed1cb6a" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-39ac49ce elementor-widget elementor-widget-text-editor" data-id="39ac49ce" data-element_type="widget" data-widget_type="text-editor.default">
																				<div class="elementor-widget-container">
																					<p>Dès le jour où vous vous inscrivez à l’ AFRICAN ENTREPRENEURSHIP AND LEADERSHIP INSTITUTE, vous apprendrez à être un entrepreneur en en étant un. Notre programme de LICENCE est entièrement aligné sur le processus de démarrage de votre entreprise. Grâce à notre MASTER, vous apprendrez à faire évoluer votre entreprise en la faisant croître. Les deux programmes sont enseignés par des entrepreneurs et des experts du domaine et sont axés sur votre développement en tant qu’entrepreneur ainsi que sur la création de votre entreprise.</p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-top-section elementor-element elementor-element-55daa685 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="55daa685" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-background-overlay"></div>
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-17b39229" data-id="17b39229" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-22641c05 elementor-widget elementor-widget-heading" data-id="22641c05" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">
																		PROPULSER L’ECOSYSTEME ENTREPRENEURIAL</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-21f0e79d elementor-widget elementor-widget-text-editor" data-id="21f0e79d" data-element_type="widget" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p>Vous êtes prêt à créer et à développer votre entreprise? lancez-vous dans notre programme d’éducation non conventionnel qui vous aidera à vous lancer</p>
																</div>
															</div>
															<div class="elementor-element elementor-element-38797ade elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="38797ade" data-element_type="widget" data-widget_type="divider.default">
																<div class="elementor-widget-container">
																	<div class="elementor-divider">
																		<span class="elementor-divider-separator"></span>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-537eaf72 elementor-widget elementor-widget-heading" data-id="537eaf72" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h3 class="elementor-heading-title elementor-size-default">AELI propose ainsi :</h3>
																</div>
															</div>
															<div class="elementor-element elementor-element-70ff378 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="70ff378" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<link rel="stylesheet" href="wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																				<i aria-hidden="true" class="fas fa-angle-right"></i>
																			</span>
																			<span class="elementor-icon-list-text">une excellence académique</span>
																		</li>
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																				<i aria-hidden="true" class="fas fa-angle-right"></i>
																			</span>
																			<span class="elementor-icon-list-text">des approches pédagogiques innovantes pour être en adéquation avec les nouvelles attentes de ses étudiants</span>
																		</li>
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																				<i aria-hidden="true" class="fas fa-angle-right"></i>
																			</span>
																			<span class="elementor-icon-list-text">une ouverture internationale qui permet à ses étudiants d'étudier partout dans le monde</span>
																		</li>
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																				<i aria-hidden="true" class="fas fa-angle-right"></i>
																			</span>
																			<span class="elementor-icon-list-text">un lien entre le diplôme et les problématiques sociétales et environnementales pour former des managers responsables</span>
																		</li>
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																				<i aria-hidden="true" class="fas fa-angle-right"></i>
																			</span>
																			<span class="elementor-icon-list-text">l’assurance d’une insertion professionnelle réussie grâce à son accompagnement et son coaching</span>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="elementor-element elementor-element-68d36bb elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="68d36bb" data-element_type="widget" data-widget_type="divider.default">
																<div class="elementor-widget-container">
																	<div class="elementor-divider">
																		<span class="elementor-divider-separator"></span>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-7ed5b253 elementor-widget elementor-widget-button" data-id="7ed5b253" data-element_type="widget" data-widget_type="button.default">
																<div class="elementor-widget-container">
																	<div class="elementor-button-wrapper">
																		<a href="#" class="elementor-button-link elementor-button elementor-size-lg" role="button">
																			<span class="elementor-button-content-wrapper">
																				<span class="elementor-button-icon elementor-align-icon-left">
																					<i aria-hidden="true" class="fas fa-plus"></i>
																				</span>
																				<span class="elementor-button-text">En savoir plus</span>
																			</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-558f5b63" data-id="558f5b63" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-4e2e0ffa elementor-widget elementor-widget-heading" data-id="4e2e0ffa" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h2 class="elementor-heading-title elementor-size-default">La première université entrepreneuriale de Madagascar</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-636f5cb4 elementor-widget elementor-widget-text-editor" data-id="636f5cb4" data-element_type="widget" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p>Vous êtes prêt à créer et à développer votre entreprise? lancez-vous dans notre programme d’éducation non conventionnel qui vous aidera à vous lancer.</p>
																</div>
															</div>
															<div class="elementor-element elementor-element-a618328 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a618328" data-element_type="widget" data-widget_type="divider.default">
																<div class="elementor-widget-container">
																	<div class="elementor-divider">
																		<span class="elementor-divider-separator"></span>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-428ceecc elementor-view-framed elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="428ceecc" data-element_type="widget" data-widget_type="icon-box.default">
																<div class="elementor-widget-container">
																	<link rel="stylesheet" href="wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">
																	<div class="elementor-icon-box-wrapper">
																		<div class="elementor-icon-box-icon">
																			<a class="elementor-icon elementor-animation-" href="#">
																				<i aria-hidden="true" class="fas fa-university"></i>
																			</a>
																		</div>
																		<div class="elementor-icon-box-content">
																			<div class="elementor-icon-box-title">
																				<a href="#">
																					Lieu
																				</a>
																			</div>
																			<p class="elementor-icon-box-description">
																				LOT II A 139 A Route nanisana, vers ampasapito
																			</p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-761ec97b elementor-view-framed elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="761ec97b" data-element_type="widget" data-widget_type="icon-box.default">
																<div class="elementor-widget-container">
																	<div class="elementor-icon-box-wrapper">
																		<div class="elementor-icon-box-icon">
																			<a class="elementor-icon elementor-animation-" href="#">
																				<i aria-hidden="true" class="fas fa-language"></i>
																			</a>
																		</div>
																		<div class="elementor-icon-box-content">
																			<div class="elementor-icon-box-title">
																				<a href="#">
																					Langue
																				</a>
																			</div>
																			<p class="elementor-icon-box-description">
																				Français, anglais, chinois
																			</p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-1c65d273 elementor-view-framed elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="1c65d273" data-element_type="widget" data-widget_type="icon-box.default">
																<div class="elementor-widget-container">
																	<div class="elementor-icon-box-wrapper">
																		<div class="elementor-icon-box-icon">
																			<a class="elementor-icon elementor-animation-" href="#">
																				<i aria-hidden="true" class="far fa-clock"></i>
																			</a>
																		</div>
																		<div class="elementor-icon-box-content">
																			<div class="elementor-icon-box-title">
																				<a href="#">
																					Durée
																				</a>
																			</div>
																			<p class="elementor-icon-box-description">
																				6 semestres licence, 4 semestres master
																			</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-top-section elementor-element elementor-element-5cc5bc09 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5cc5bc09" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3346dd9d" data-id="3346dd9d" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<section class="elementor-section elementor-inner-section elementor-element elementor-element-160b0c3f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="160b0c3f" data-element_type="section">
																<div class="elementor-container elementor-column-gap-default">
																	<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-779e8704" data-id="779e8704" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-23819393 elementor-align-right envato-kit-80-cta elementor-widget elementor-widget-button" data-id="23819393" data-element_type="widget" data-widget_type="button.default">
																				<div class="elementor-widget-container">
																					<div class="elementor-button-wrapper">
																						<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
																							<span class="elementor-button-content-wrapper">
																								<span class="elementor-button-text">EN PLUS DE VOTRE DIPLÔME, VOUS OBTENEZ VOTRE PROPRE ENTREPRISE</span>
																							</span>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7b9133cb" data-id="7b9133cb" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-435f0f76 elementor-view-default elementor-widget elementor-widget-icon" data-id="435f0f76" data-element_type="widget" data-widget_type="icon.default">
																				<div class="elementor-widget-container">
																					<div class="elementor-icon-wrapper">
																						<a class="elementor-icon" href="#">
																							<i aria-hidden="true" class="fas fa-forward"></i>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-top-section elementor-element elementor-element-4c01a4e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c01a4e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5de84056" data-id="5de84056" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<section class="elementor-section elementor-inner-section elementor-element elementor-element-455c6230 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="455c6230" data-element_type="section">
																<div class="elementor-container elementor-column-gap-default">
																	<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-67262ebc" data-id="67262ebc" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-1d782fe6 animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="1d782fe6" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
																				<div class="elementor-widget-container">
																					<h1 class="elementor-heading-title elementor-size-default">Franchissez la prochaine étape de votre éducation</h1>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
															<section class="elementor-section elementor-inner-section elementor-element elementor-element-782ea009 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="782ea009" data-element_type="section">
																<div class="elementor-container elementor-column-gap-default">
																	<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5961230f" data-id="5961230f" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-4bee9791 elementor-widget elementor-widget-heading" data-id="4bee9791" data-element_type="widget" data-widget_type="heading.default">
																				<div class="elementor-widget-container">
																					<h2 class="elementor-heading-title elementor-size-default">Nos parcours</h2>
																				</div>
																			</div>
																			<div class="elementor-element elementor-element-3d3dabd4 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3d3dabd4" data-element_type="widget" data-widget_type="icon-list.default">
																				<div class="elementor-widget-container">
																					<ul class="elementor-icon-list-items">
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Business, Entrepreneuriat et Leadership (BEL)
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Stratégie d’Entreprise et Administration Financière (SEAF)</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Management International et Transformation Digitale (MITD)
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Ressources Humaines et Communication (RHC)</span>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2234002f" data-id="2234002f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-64a00c5a elementor-widget elementor-widget-heading" data-id="64a00c5a" data-element_type="widget" data-widget_type="heading.default">
																				<div class="elementor-widget-container">
																					<h2 class="elementor-heading-title elementor-size-default">Condition d'accès</h2>
																				</div>
																			</div>
																			<div class="elementor-element elementor-element-1fd34b94 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1fd34b94" data-element_type="widget" data-widget_type="icon-list.default">
																				<div class="elementor-widget-container">
																					<ul class="elementor-icon-list-items">
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Sélection de dossier
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Entretien Individuel
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Test de niveau
																							</span>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-23f40484" data-id="23f40484" data-element_type="column">
																		<div class="elementor-widget-wrap elementor-element-populated">
																			<div class="elementor-element elementor-element-1ae65e45 elementor-widget elementor-widget-heading" data-id="1ae65e45" data-element_type="widget" data-widget_type="heading.default">
																				<div class="elementor-widget-container">
																					<h2 class="elementor-heading-title elementor-size-default">Dossiers à fournir</h2>

																				</div>
																			</div>
																			<div class="elementor-element elementor-element-4b729d15 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4b729d15" data-element_type="widget" data-widget_type="icon-list.default">
																				<div class="elementor-widget-container">
																					<ul class="elementor-icon-list-items">
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">CIN ou Acte de Naissance
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Relevé de notes du Baccalauréat ou Notes des 3 dernières années
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">Photo d’identité
																							</span>
																						</li>
																						<li class="elementor-icon-list-item">
																							<span class="elementor-icon-list-icon">
																								<i aria-hidden="true" class="fas fa-check"></i>
																							</span>
																							<span class="elementor-icon-list-text">•	Photocopie légalisée du diplôme du Baccalauréat
																							</span>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</section>
										</div>


									</div>

								</article>


							</div>
							<!-- #content -->


						</div>
						<!-- #primary -->


					</div>
					<!-- #content-wrap -->


				</main>
				<!-- #main -->


				<footer id="footer" class="site-footer" itemscope="itemscope" itemtype="https://schema.org/WPFooter" role="contentinfo">


					<div id="footer-inner" class="clr">


						<div id="footer-bottom" class="clr no-footer-nav">


							<div id="footer-bottom-inner" class="container clr">


								<div id="copyright" class="clr" role="contentinfo">
									Copyright Gate Company Intl - AELI
								</div>
								<!-- #copyright -->


							</div>
							<!-- #footer-bottom-inner -->


						</div>
						<!-- #footer-bottom -->


					</div>
					<!-- #footer-inner -->


				</footer>
				<!-- #footer -->


			</div>
			<!-- #wrap -->


		</div>
		<!-- #outer-wrap -->


		<a aria-label="Scroll to the top of the page" href="#" id="scroll-top" class="scroll-top-right">
			<i class=" fa fa-angle-up" aria-hidden="true" role="img"></i>
		</a>


		<link rel='stylesheet' id='wpo_min-footer-0-css' href='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-footer-80f70e65.min.css' media='all'/>
		<script id='wpo_min-footer-0-js-extra'>
			var oceanwpLocalize = {
"nonce": "a47b60078f",
"isRTL": "",
"menuSearchStyle": "disabled",
"mobileMenuSearchStyle": "disabled",
"sidrSource": null,
"sidrDisplace": "1",
"sidrSide": "left",
"sidrDropdownTarget": "link",
"verticalHeaderTarget": "link",
"customSelects": ".woocommerce-ordering .orderby, #dropdown_product_cat, .widget_categories select, .widget_archive select, .single-product .variations_form .variations select"
};
		</script>
		<script src='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-footer-9f784aae.min.js' id='wpo_min-footer-0-js'></script>
		{# [if lt IE 9]
																								<script src='wp-content/themes/oceanwp/assets/js/third/html5.min.js' id='html5shiv-js'></script>
																								[endif] #}
		<script src='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-footer-964825f8.min.js' id='wpo_min-footer-2-js'></script>
		<script src='wp-content/cache/wpo-minify/1659612194/assets/wpo-minify-footer-6d5b0855.min.js' id='wpo_min-footer-3-js'></script>
	</body>

	<!-- Mirrored from aeli.africa/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Sep 2022 14:09:18 GMT -->
</html>
