{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Statistique des étudiants par filières ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Statistique des étudiants par filières</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						{% for faculty in faculties %}
							<div class="col-lg-6">
								<div class="card card-info card-outline">
									<div class="card-header">
										<h3 class="card-title text-bold">
											({{ faculty.acronym }})
											{{ faculty.name }}
										</h3>
										<div class="card-tools">
											nombre(s) :
											<span class="badge badge-info">{{ getNumberStudentByFaculty(faculty) }}</span>
										</div>
									</div>
									<div class="card-body">
										<div class="row">

											<div class="col-lg-12">
												<h6>Statistique par
													<span class="font-italic font-weight-bold">type de formation</span>
													:</h6>
											</div>
											<div class="col-lg-6">
												<div class="info-box">
													<span class="info-box-icon bg-info">
														<i class="fas fa-desktop"></i>
													</span>
													<div class="info-box-content">
														<span class="info-box-text">Formation en ligne</span>
														<span class="info-box-number">
															{{ getNumberFormationTypeByFaculty(faculty)["online"] }}
														</span>
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="info-box">
													<span class="info-box-icon bg-info">
														<i class="fas fa-house-user"></i>
													</span>
													<div class="info-box-content">
														<span class="info-box-text">Formation en presentiel</span>
														<span class="info-box-number">{{ getNumberFormationTypeByFaculty(faculty)["face-to-face"] }}</span>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<h6>Statistique par
													<span class="font-italic font-weight-bold">Nationnalité</span>
													:</h6>
											</div>
											<div class="col-lg-12">
												<ul class="list-group">
													<li class="list-group-item d-flex justify-content-between align-items-center">
														Madagascar
														<span class="badge badge-info badge-pill">{{ getNumberNativeCountryByFaculty(faculty)["madagascar"] }}</span>
													</li>
													<li class="list-group-item d-flex justify-content-between align-items-center">
														Étranger
														<span class="badge badge-info badge-pill">{{ getNumberNativeCountryByFaculty(faculty)["abroad"] }}</span>
													</li>
												</ul>
											</div>
											<div class="col-lg-12 mt-3">
												<h6>Statistique par
													<span class="font-italic font-weight-bold">Niveau</span>
													:</h6>
											</div>
											<div class="col-lg-12">
												<table class="table text-center table-bordered table-sm table-stripped">
													<tr>
														<th>Licence</th>
														<th>Master</th>
													</tr>
													<tr>
														<td>
															<table class="table table-sm table-bordered">
																<tr>
																	<th>L1</th>
																	<th>L2</th>
																	<th>L3</th>
																</tr>
																<tr>
																	<th>
																		<span class="badge badge-success">{{ getNumberLevelByFaculty(faculty)["L1"] }}</span>
																	</th>
																	<th>
																		<span class="badge badge-success">{{ getNumberLevelByFaculty(faculty)["L2"] }}</span>
																	</th>
																	<th>
																		<span class="badge badge-success">{{ getNumberLevelByFaculty(faculty)["L3"] }}</span>
																	</th>
																</tr>
															</table>
														</td>
														<td>
															<table class="table table-sm table-bordered">
																<tr>
																	<th>M1</th>
																	<th>M2</th>
																</tr>
																<tr>
																	<th>
																		<span class="badge badge-danger">{{ getNumberLevelByFaculty(faculty)["M1"] }}</span>
																	</th>
																	<th>
																		<span class="badge badge-danger">{{ getNumberLevelByFaculty(faculty)["M2"] }}</span>
																	</th>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<a href="{{ path('app_admin_user_faculty_show',{id: faculty.id}) }}" class="float-right btn btn-sm btn-outline-info">
											Voir plus en detail &nbsp;
											<i class="fas fa-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div></div>{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
