{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Demande d'inscription ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Demande d'inscription</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="{{ path('app_admin_user_add') }}?type={{ app.request.query.get('type','ROLE_STUDENT') }}">Ajouter une nouvelle
										<span class="font-italic">
											<u>{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</u>
										</span>
									</a>
								</li>
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Liste de touts les demandes d'inscriptions
									</h3>
								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">
										<thead>
											<tr>
												<th>Avatar</th>
												<th>Nom complet</th>
												<th>E-mail</th>
												<th>Type de formation</th>
												<th>Filière</th>
												<th>Date d'inscription</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											{% for user in users %}
												<tr>
													<td>
														{% if user.avatar is defined and user.avatar is not empty %}
															<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="img-circle elevation-2" alt="User Image">
														{% else %}
															<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
														{% endif %}
													</td>
													<td>{{ user.fullName }}</td>
													<td>{{ user.email }}</td>
													<td>{{ getFormationType(user.studentInformation.formationType) }}</td>
													<td>{{ user.studentInformation.faculty.acronym }}</td>
													<td>{{ user.createdAt | date('Y-m-d h:i:s') }}</td>
													<td>
														<div class="btn-group">
															<button title='Confirmer' class="btn btn-outline-success btn-sm" onclick="document.location='{{ path('app_admin_user_student_registration_request_detail', {id: user.id}) }}'">
																<i class="fas fa-eye" aria-hidden="true"></i>
																voir plus
															</button>
															<button title='Supprimer cet étudiant(e)' class="btn btn-outline-danger btn-sm" onclick="document.location='{{ path('app_admin_user_student_remove', {id: user.id}) }}'">
																<i class="fas fa-trash" aria-hidden="true"></i>
																Effacer
															</button>
														</div>
													</td>
												</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>Avatar</th>
												<th>Nom complet</th>
												<th>E-mail</th>
												<th>Type de formation</th>
												<th>Filière</th>
												<th>Date d'inscription</th>
												<th>Options</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
