<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>aeli</title>
	<atom:link href="https://aeli.africa/feed/" rel="self" type="application/rss+xml" />
	<link>https://aeli.africa</link>
	<description>PROPULSER L’ECOSYSTEME ENTREPRENEURIAL </description>
	<lastBuildDate>Thu, 14 Jul 2022 06:18:11 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.2</generator>

<image>
	<url>https://aeli.africa/wp-content/uploads/2022/07/cropped-logo-2-32x32.png</url>
	<title>aeli</title>
	<link>https://aeli.africa</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Hello world!</title>
		<link>https://aeli.africa/2022/07/14/hello-world/</link>
					<comments>https://aeli.africa/2022/07/14/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Thu, 14 Jul 2022 06:18:11 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://aeli.africa/?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://aeli.africa/2022/07/14/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
