<h1>Bonjour! Veuillez confirmer votre email!</h1>

<p>
	Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :
	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon e-mail</a>.Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<br><br>
<p>En vous connectant avec les informations suivants :</p>
<p>Numero Matricule :
	{{ matriculeNumber }}</p>
<p>E-mail :
	{{ emaily }}</p>
<p>Mot de passe :
	{{ password }}</p>


<br><br>
<p>Merci de nous contacter en cas de problème selon ses différents services:</p>


<table>
	<tr>
		<th>Service Technique</th>
		<th>Service Finance</th>
		<th>Service Pedagogie Licence</th>
		<th>Service Pedagogie Master</th>
	</tr>
	<tr>
		<td>emedia.servicetechnique@gmail.com , 261345077707</td>
		<td>servicefinance.emedia@gmail.com , 261344013064</td>
		<td>Service Pedagogie LICENCE: emediaenligne2020@gmail.com , 261345677707</td>
		<td>Service Pedagogie MASTER: emediaenligne2020@gmail.com , 261349077707</td>
	</tr>
</table>
