<html>
	<body>
		<div style="flex-direction:row;display:flex;margin:0;padding:0;height: 100px; background:linear-gradient(90deg,rgb(4, 94, 110) 26%,#a5010147 150%);">
			<h1 style="width:100%;color: white; opacity: 0.8; text-align:center;font-size:40px;word-wrap: break-word;">
				AELI Africa : Nouvelle inscirption
			</h1>
		</div>

		<div style="text-align: center;">
			Nom :
			<span style="font-weight: bolder; font-style: italic;">
				{{ user.fullName }}</span>
		</div>
		<div style="text-align: center;">
			email :
			<span style="font-weight: bolder; font-style: italic;">
				{{ user.email }}</span>
		</div>

		<div style="text-align: center;">
			Filière :
			<span style="font-weight: bolder; font-style: italic;">
				{{ studentInformation.faculty }}</span>
		</div>
		<div style="text-align: center;">
			Niveau :
			<span style="font-weight: bolder; font-style: italic;">
				{{ studentInformation.level }}</span>
		</div>

		<div style="text-align: end; font-style: italic;">
			<strong>
				<a href="{{ url('app_admin_user_student_registration_request_detail',{ id : user.id }) }}">Voir en detail</a>
			</strong>
		</div>
	</body>
</html>
