<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Institut International des Affaires Publiques - Vers la méritocratie
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('assets/images/logo.png') }}">
		{# CSS #}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{# JAVASCRIPT #}
		{% block javascripts %}{% endblock %}

	</body>
</html>
