{% extends "student/st.html.twig" %}
{% block title %}
	Aide
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12 font-italic text-center">
							<h1>Aide (en cours ...)</h1>
						</div>
					</div>
				</div>
			</section>
			{% set student = user.studentInformation %}
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo aeli" class="img-fluid"/></div>
					</div>
				</div>

			</section>

		</div>
	</div>

{% endblock %}
