{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Appel Video
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Appel Video</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div id="video-call-container" class="container align-items-center"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}{% block javascripts %}
<script src='https://meet.jit.si/external_api.js'></script>

<script>
	var container = document.querySelector('#video-call-container');
var api = null;

var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
var stringLength = 5;

function pickRandom() {
return possible[Math.floor(Math.random() * possible.length)];
}

var randomString = Array.apply(null, Array(stringLength)).map(pickRandom).join('');

var domain = "meet.jit.si";
var options = {
"roomName": 'aeli-africa-' + randomString,
"parentNode": container,
"height": 600
};
api = new JitsiMeetExternalAPI(domain, options);
</script>{% endblock %}
