{% extends 'partials/base.html.twig' %}


{% block title %}E-mail de réinitialisation du mot de passe envoyé

{% endblock %}

{% block body %}
	<p>
		Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
		{{ resetToken.expiresAt | date('Y-m-d h:m:s') }}.
	</p>
	<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
		<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
