<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans
	{{ resetToken.expiresAt | date('Y-m-d h:m:s') }}.</p>
<p>Merci!</p>
