{% extends "student/st.html.twig" %}
{% block title %}
	Votre Exercices
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12 font-italic">
							<h1>Les exercices pour le semestre
								{{ user.studentInformation.semester.number }}</h1>
						</div>
					</div>
				</div>
			</section>
			{% set student = user.studentInformation %}
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						{% for formationforStudent in formationforStudents %}
							{% set course = formationforStudent.course %}
							<div class="col-lg-3">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top" src="{{ vich_uploader_asset(course) | imagine_filter('CARDCOUR') }}" alt="{{ course.title }}">
									<div class="card-body">
										<h5 class="card-title font-weight-bold">
											{{ course.title }}</h5>
										<p class="card-text">
											{{ course.description | u.truncate(100, '...') }}
										</p>
										<p>
											<span>Professeur :
												<span class="badge badge-success">{{ formationforStudent.teacherInformation }}</span>
											</span>
										</p>
										<a href="{{ path('app_student_exercice_show', { slug: course.slug }) }}" class="btn btn-block btn-info">
											Consulter
										</a>
									</div>
								</div>
							</div>

						{% endfor %}

					</div>
				</div>
			</section>

		</div>
	</div>

{% endblock %}
