{% extends "student/st.html.twig" %}
{% block title %}
	{{ course.title  }}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12 font-italic">
							<h1>{{ course.title }}</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content mb-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3">
							<div class="card" style="width: 18rem;">
								<img class="card-img-top img-thumbnail rounded" src="{{ vich_uploader_asset(course) | imagine_filter('CARDCOUR') }}" alt="{{ course.title }}">

							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge badge-info">EXERCICE</span>
								</li>


								<li class="list-group-item">
									{{ course.description }}
								</li>

								{% if courseContents %}
									<li class="list-group-item">
										<button class="btn btn-outline-info btn-block" onclick="document.location='{{ path('app_student_exercice_show_correction',{ slug: course.slug }) }}'">Voir le correction</button>
									</li>
								{% endif %}
							</ul>

						</div>

						<div class="col-lg-9">
							<div class="callout callout-secondary bg-light">
								{% for courseContent in courseContents %}
									<span>
										{{ courseContent.content | raw }}
									</span>
									<p>
										{% if courseContent.file %}
											<a href="{{ path('app_student_course_download_file',{ id: courseContent.id }) }}" class="link-black text-primary text-sm" title="cliquer pour le télécharger">
												<i class="fas fa-link mr-1"></i>
												{{ courseContent.file }}</a>
										{% endif %}
									</p>
									<hr style="border-top: 1px dotted #8c8b8b;">

								{% else %}
									<p>VIDE</p>
								{% endfor %}
							</div>
						</div>

					</div>
				</div>
			</section>

		</div>
	</div>
{% endblock %}
