{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	{{ course.title }}
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 ">Matière :
								<span class="text-uppercase badge badge-success">
									{{ course.title }}</h1>
							</span>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<button type="button" class="btn bg-info card-title" data-toggle="modal" data-target="#add-course">
										Ajouter un nouveau contenu &nbsp; | &nbsp;
										<i class="fas fa-plus"></i>
									</button>
									<div class="modal" id="add-course">
										<div class="modal-dialog modal-xl">
											{{ form_start(form) }}
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Ajout d'un nouveau contenu :
														{{ course.title }}</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													{{ form_widget(form) }}
												</div>
												<div class="modal-footer justify-content-right">
													<input type="reset" value="Effacer les champs" class="btn btn-danger"/>
													<input type="submit" value="Ajouter" class="btn btn-info"/>
												</div>
											</div>
											{{ form_end(form) }}
										</div>
									</div>

								</div>
								<div class="card-body">
									<div class="card card-primary card-outline card-outline-tabs">
										<div class="card-header p-0 border-bottom-0">
											<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" id="custom-tabs-four-lesson-tab" data-toggle="pill" href="#custom-tabs-four-lesson" role="tab" aria-controls="custom-tabs-four-lesson" aria-selected="false">LEÇON</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="custom-tabs-four-exercice-tab" data-toggle="pill" href="#custom-tabs-four-exercice" role="tab" aria-controls="custom-tabs-four-exercice" aria-selected="true">EXERCICE</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="custom-tabs-four-corrige-tab" data-toggle="pill" href="#custom-tabs-four-corrige" role="tab" aria-controls="custom-tabs-four-corrige" aria-selected="false">CORRECTION</a>
												</li>
											</ul>
										</div>
										<div class="card-body">
											<div class="tab-content" id="custom-tabs-four-tabContent">
												<div class="tab-pane fade show active" id="custom-tabs-four-lesson" role="tabpanel" aria-labelledby="custom-tabs-four-lesson-tab">
													<div class="callout callout-secondary bg-light">
														{% for lesson in lessons %}
															<h6 class='badge badge-default'>publié en
																{{ lesson.createdAt | date('d-m-Y h:i:s')}}</h6>
															<div>{{ lesson.content | raw }}</div>
															<p>
																{% if lesson.file %}
																	<a href="{{ path('app_admin_course_download_file',{ id: lesson.id }) }}" class="link-black text-sm text-primary">
																		<i class="fas fa-link mr-1"></i>
																		{{ lesson.file }}</a>
																{% endif %}
															</p>
															<hr style="border-top: 1px dotted black;"/>
														{% else %}
															<p>VIDE</p>
														{% endfor %}
													</div>
												</div>
												<div class="tab-pane fade" id="custom-tabs-four-exercice" role="tabpanel" aria-labelledby="custom-tabs-four-exercice-tab">
													<div class="callout callout-secondary bg-light">
														{% for exercice in exercices %}
															<h6 class='badge badge-default'>publié en
																{{ exercice.createdAt | date('d-m-Y h:i:s')}}</h6>
															<div>{{ exercice.content | raw }}</div>
															<p>
																{% if exercice.file %}
																	<a href="{{ path('app_admin_course_download_file',{ id: exercice.id }) }}" class="link-black text-sm text-primary">
																		<i class="fas fa-link mr-1"></i>
																		{{ exercice.file }}</a>
																{% endif %}
															</p>
															<hr style="border-top: 1px dotted black;"/>
														{% else %}
															<p>VIDE</p>
														{% endfor %}
													</div>
												</div>
												<div class="tab-pane fade" id="custom-tabs-four-corrige" role="tabpanel" aria-labelledby="custom-tabs-four-corrige-tab">
													<div class="callout callout-secondary bg-light">
														{% for correction in corrections %}
															<h6 class='badge badge-default'>publié en
																{{ correction.createdAt | date('d-m-Y h:i:s')}}</h6>
															<div>{{ correction.content | raw }}</div>
															<p>
																{% if correction.file %}
																	<a href="{{ path('app_admin_course_download_file',{ id: correction.id }) }}" class="link-black text-sm text-primary">
																		<i class="fas fa-link mr-1"></i>
																		{{ correction.file }}</a>
																{% endif %}
															</p>
															<hr style="border-top: 1px dotted black;"/>
														{% else %}
															<p>VIDE</p>
														{% endfor %}
													</div>

												</div>

											</div>
										</div>
										<!-- /.card -->
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}{% block javascripts %}

<script>
	const imageFileClass = document.querySelector('.imageFileClass');
imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();
}, false);
</script>{% endblock %}
