{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style>
		.modal-dialog {
			height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
		}
		.modal-content,
		iframe {

			height: 100%; /* = 100% of the .modal-dialog block */
		}
	</style>

{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Gestion des utilisateurs</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="{{ path('app_admin_user') }}?type={{app.request.query.get('type','ROLE_STUDENT')}}">Liste des utilisateurs
												<span class="font-italic">
													<u>{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</u>
												</span>
											</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% for type,messages in app.flashes %}
						<div class="alert alert-{{type}} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{% for message in messages %}
								{{ message }}
							</div>
						{% endfor %}

					</div>
				{% endfor %}
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Ajout d'un(e) nouvel(le) utilisateur avec le type :
							<span class="text-bold text-uppercase">{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</span>
						</h3>
					</div>
					<div class="card-body">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<input type="submit" value="Ajouter" class="btn btn-primary float-right">
						{{ form_end(form) }}
					</div>
				</div>

			</div>
		</section>


	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}{% block javascripts %}
<script>
	const imageFileClass = document.querySelector('.imageFileClass');
imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();
}, false);
</script>{% endblock %}
