{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-center text-uppercase">Tableau de board</h1>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-6">
							<div class="small-box bg-info">
								<div class="inner">
									<h3>{{users|length}}</h3>
									<p>Demande d'inscription</p>
								</div>
								<div class="icon">
									<i class="fas fa-user-graduate"></i>
								</div>
								<a href="{{ path('app_admin_user_student_registration_request') }}" class="small-box-footer">
									Voir plus
									<i class="fas fa-arrow-circle-right"></i>
								</a>
							</div>
						</div>
						{# <div class="col-12"><img src="{{ asset('assets/images/logo.png') }}" alt="" class="img-fluid"/></div> #}
					</div>

				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
