{% extends "school_manager/sm.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Demande de validation de paiment via mobile money ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('school_manager/layouts/nav-bar.html.twig') }}
		{{ include('school_manager/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">Demande de validation de paiment</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Gestionnaire d'écolage</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "school_manager/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-success">
									<h3 class="card-title">Liste de touts les demandes de paiments non-lu via :
										<span class="badge badge-success text-uppercase">{{ type }}</span>
									</h3>
								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">
										<thead>
											<tr>
												<th>Photo d'indentité</th>
												<th>Matricule</th>
												<th>Nom complet</th>
												<th>Semestre</th>
												<th>Status écolage</th>
												<th>Status inscription</th>
												<th>Motif</th>
												<th>Référence</th>
												<th>Date de paiment</th>
												<th>Montant</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for request in requests %}
												{% set student = request.student %}
												{% set user = getUser(student) %}
												<tr>
													<td>
														{% if user.avatar is defined and user.avatar is not empty %}<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="img-circle elevation-2" alt="User Image">{% else %}<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
														{% endif %}
													</td>
													<td>
														{{ student.matriculeNumber }}
													</td>
													<td>
														{{ user.fullName }}
													</td>
													<td>
														{{ student.semester }}
													</td>
													<td>
														{{ student.monthlyFees }}
														/
														{{ getMaxNumberMonthlyFeesForLevel(student.level) }}
													</td>
													<td>
														{% if student.registrationFee %}
															PAYÉ
														{% else %}
															NON-PAYÉ
														{% endif %}
													</td>
													<td>
														{{ getReason(request.reason) }}
													</td>
													<td>
														{{ request.referenceMobileMoney }}
													</td>
													<td>
														{{ request.doneAt | date('Y-m-d h:m:i') }}
													</td>
													<td>
														{{ request.amount | number_format(null, '.', '.') }}
														Ar
													</td>
													<td>
														<div class="btn-group">
															<button class="btn btn-sm btn-outline-success" title='Valider' data-toggle="modal" data-target="#validation-{{ request.id }}">

																<i class="fas fa-check"></i>
															</button>
															<div class="modal fade" id="validation-{{ request.id }}" tabindex="-1" aria-labelledby="validation-{{ request.id }}Label" aria-hidden="true">

																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="validation-{{ request.id }}Label">Ètes-vous sur de valider cette paiment ?</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>

																		<form action="{{ path('app_payment_validate', { id: request.id }) }}" method="POST">
																			<div class="modal-body text-left">

																				<label for="observation">Observation</label>
																				<input type="text" name="observation_{{ request.id }}" class="form-control" id="observation" placeholder="observation ..." value='aucun'>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
																				<button type="submit" class="btn btn-success">Valider</button>
																			</div>
																		</form>

																	</div>
																</div>
															</div>
															<button class="btn btn-sm btn-outline-danger" title='Annuler' data-toggle="modal" data-target="#refuse-{{ request.id }}">

																<i class="fas fa-trash"></i>
															</button>

															<div class="modal fade" id="refuse-{{ request.id }}" tabindex="-1" aria-labelledby="refuse-{{ request.id }}Label" aria-hidden="true">

																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="refuse-{{ request.id }}Label">Ètes-vous sur de refuser cette paiment ?</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>

																		<form action="{{ path('app_payment_refuse', { id: request.id }) }}" method="POST">
																			<div class="modal-body text-left">

																				<label for="observation">Observation</label>
																				<input type="text" name="observation_{{ request.id }}" class="form-control" id="observation" placeholder="observation ..." value='aucun'>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
																				<button type="submit" class="btn btn-success">Valider</button>
																			</div>
																		</form>

																	</div>
																</div>

															</td>
														</td>
													</td>
												</tr>
											</div>
										</tbody>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Photo d'indentité</th>
								<th>Matricule</th>
								<th>Nom complet</th>
								<th>Semestre</th>
								<th>Status écolage</th>
								<th>Status inscription</th>
								<th>Motif</th>
								<th>Référence</th>
								<th>Date de paiment</th>
								<th>Montant</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div></div></section></div></div>{{ include('school_manager/layouts/footer.html.twig') }}{% endblock %}
