{% extends "student/st.html.twig" %}
{% block title %}
	Appel Video
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">

			{% set student = user.studentInformation %}
			<section class="content">
				<div class="container-fluid">
					<div class="row pt-4">
						<div class="col-lg-12">
							<iframe src="{{ link }}" frameborder="0" style="width:100%;height: 88vh"></iframe>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

{% endblock %}
