{% extends "student/st.html.twig" %}
{% block title %}
	Votre profil
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12 font-italic">
							<h1>Profil</h1>
						</div>
					</div>
				</div>
			</section>
			{% set student = user.studentInformation %}
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<div class="card card-info card-outline">
								<div class="card-body box-profile">
									<div class="text-center">
										{% if user.avatar is defined and user.avatar is not empty %}
											<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="profile-user-img img-fluid img-circle" alt="User Image">
										{% else %}
											<img src="{{ asset('images/user-default-image.png') }}" class="profile-user-img img-fluid img-circle" alt="User Image">
										{% endif %}
									</div>

									<h3 class="profile-username text-center">{{ student.matriculeNumber }}</h3>


									<p class="text-muted text-center">{{ user.email }}</p>
									<hr>
									<strong>
										<i class="fas fa-user mr-1"></i>
										nom complet</strong>
									<p class="text-muted">
										{{ user.fullName }}
									</p>
									<hr>
									<strong>
										<i class="fas fa-birthday-cake mr-1"></i>
										Date et lieu de naissance</strong>
									<p class="text-muted">
										{{ user.birthDate | date('d-m-Y') ~ " à " ~ user.birthPlace}}
									</p>
									<hr>
									<strong>
										<i class="fas fa-phone mr-1"></i>
										Contact et adresse</strong>
									<p class="text-muted">
										{{ user.phoneNumber }},
										{{ user.address }}
									</p>
									<hr>
									<strong>
										<i class="fas fa-calendar mr-1"></i>
										Date de validation d'inscription</strong>
									<p class="text-muted">
										{{ user.confirmAt | date('d-m-Y h:i:s') }}
									</p>


								</div>
							</div>

						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="card">
								<div class="card-header p-2">
									<ul class="nav nav-pills">
										<li class="nav-item">
											<a class="nav-link active" href="#infoUniv" data-toggle="tab">Information universitaire</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#rengGaran" data-toggle="tab">Renseignemets des garants</a>
										</li>
									</ul>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<div class="tab-content">
										<div class="active tab-pane" id="infoUniv">
											<div class="row">
												<div class="col-lg-12">
													<ul class="list-group">
														<li class="list-group-item d-flex justify-content-between align-items-center">
															<b>Type de formation</b>
															<span class="badge badge-info badge-pill">{{ getFormationType(student.formationType) }}</span>
														</li>
														<li class="list-group-item d-flex justify-content-between align-items-center">
															<b>Filière</b>
															<span class="badge badge-info badge-pill">{{ student.faculty }}</span>
														</li>
														<li class="list-group-item d-flex justify-content-between align-items-center">
															<b>Niveau</b>
															<span class="badge badge-info badge-pill">{{ student.level }}</span>
														</li>
														<li class="list-group-item d-flex justify-content-between align-items-center">
															<b>Semestre</b>
															<span class="badge badge-info badge-pill">{{ student.semester }}</span>
														</li>
														<li class="list-group-item d-flex justify-content-between align-items-center">
															<b>Vague</b>
															<span class="badge badge-info badge-pill">{{ student.vague }}</span>
														</li>
													</ul>
													<br>
													<h5>Service technique</h5>
													<table class="table sm table-striped table-bordered">
														<tr>
															<th></th>
															<th>lorem</th>
															<th>ipsum</th>
															<th>dolor</th>
															<th>sit amet</th>
														</tr>
														<tr>
															<th>E-mail</th>
															<td>lorem</td>
															<td>ipsum</td>
															<td>dolor</td>
															<td>sit amet</td>
														</tr>
														<tr>
															<th>Numero</th>
															<td>lorem</td>
															<td>ipsum</td>
															<td>dolor</td>
															<td>sit amet</td>
														</tr>

													</table>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="rengGaran">
											<div class="card">
												<div class="card-header">
													<h3 class="card-title">
														<i class="fas fa-text-width"></i>
														Renseignement des garants pour les étudiants
														<span class="badge badge-info">{{getType(user.studentInformation.type ~ '.' ~ user.studentInformation.sexe)}}

														</span>
													</h3>
												</div>
												<div class="card-body">
													<dl class="row">

														{% if user.studentInformation.type == "worker" %}
															<dt class="col-sm-5">Fonction</dt>
															<dd class="col-sm-7">{{ user.studentInformation.job }}</dd>
															<dt class="col-sm-5">Nom de l'employeur</dt>
															<dd class="col-sm-7">{{ user.studentInformation.employerName }}</dd>
															<dt class="col-sm-5">Nom du garant</dt>
															<dd class="col-sm-7">{{ user.studentInformation.gNames }}</dd>
															<dt class="col-sm-5">E-mail</dt>
															<dd class="col-sm-7">{{ user.studentInformation.gEmail }}</dd>
															<dt class="col-sm-5">Contact</dt>
															<dd class="col-sm-7">{{ user.studentInformation.gPhoneNumber }}</dd>
														{% endif %}

														{% if user.studentInformation.type == "bachelor" %}

															<dt class="col-sm-5">Nom et prénom(s) du père ou de la mère</dt>
															<dd class="col-sm-7">{{ user.studentInformation.fmNames }}</dd>
															<dt class="col-sm-5">Fonction</dt>
															<dd class="col-sm-7">{{ user.studentInformation.fmJobs }}</dd>
															<dt class="col-sm-5">E-mail</dt>
															<dd class="col-sm-7">{{ user.studentInformation.fmEmail }}</dd>
															<dt class="col-sm-5">Contact</dt>
															<dd class="col-sm-7">{{ user.studentInformation.fmPhoneNumber }}</dd>
															<dt class="col-sm-5">Adresse</dt>
															<dd class="col-sm-7">{{ user.studentInformation.fmAdress }}</dd>
															<dt class="col-sm-5">Nom et prénom(s) du tuteur ou de la tutrice</dt>
															<dd class="col-sm-7">{{ user.studentInformation.tNames }}</dd>
															<dt class="col-sm-5">Fonction</dt>
															<dd class="col-sm-7">{{ user.studentInformation.tJobs }}</dd>
															<dt class="col-sm-5">E-mail</dt>
															<dd class="col-sm-7">{{ user.studentInformation.tEmail }}</dd>
															<dt class="col-sm-5">Contact</dt>
															<dd class="col-sm-7">{{ user.studentInformation.tPhoneNumber }}</dd>
															<dt class="col-sm-5">Adresse</dt>
															<dd class="col-sm-7">{{ user.studentInformation.tAdress }}</dd>


														{% endif %}

													</dl>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

{% endblock %}
