{% extends "student/st.html.twig" %}

{% block title %}
	Paiement de frais d'inscription ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper bg-white">

			<section class="content mt-5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 offset-4">
							<div class="card card-success">
								<div class="card-header">
									Paiment Réussi (
									{% for type in app.flashes('type') %}
										{{type}}
									{% endfor %}
									)
								</div>
								<div class="card-body">
									<p>
										La validation de votre paiement se fera au plus tard dans les 48 heures jours ouvrables. 👍
									</p>
								</div>
								<div class="card-footer">
									<a href="{{ path('app_student_home') }}" class="float-right btn btn-block btn-outline-info">
										<i class="fas fa-arrow-left"></i>
										&nbsp;&nbsp;retour sur le tableau de bord</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
