{% extends "school_manager/sm.html.twig" %}

{% block body %}
	<div class="wrapper">
		{{ include('school_manager/layouts/nav-bar.html.twig') }}
		{{ include('school_manager/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-lg-12">
							<div class="callout callout-success">
								<h5>
									<i class="fas fa-info"></i>
									Tableau de board:</h5>
								<span class="text-uppercase text-bold text-uppercase">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem architecto blanditiis soluta vitae sapiente esse deserunt quaerat aliquid, cum nobis, fuga ab recusandae ipsum, dolores libero repudiandae provident quae quod voluptates numquam alias molestias. Saepe corporis voluptas debitis porro atque eligendi minus magnam, molestias iste sunt facere vitae est nihil necessitatibus! Provident, esse nisi minima soluta natus quod accusamus corrupti temporibus.
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo aeli" class="img-fluid"/></div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('school_manager/layouts/footer.html.twig') }}

{% endblock %}
