<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Gestionnaire d'écolage - Institut International des Affaires Publiques - Vers la méritocratie
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/select2/css/select2.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/daterangepicker/daterangepicker.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/summernote/summernote-bs4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body
			class="hold-transition sidebar-mini layout-fixed text-sm">

			{# MY CUSTOM BODY #}
			{% block body %}{% endblock %}

			<aside class="control-sidebar control-sidebar-dark"></aside>

			<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/moment/moment.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/daterangepicker/daterangepicker.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/summernote/summernote-bs4.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables/jquery.dataTables.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/jszip/jszip.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/pdfmake/pdfmake.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/pdfmake/vfs_fonts.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/select2/js/select2.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/select2/js/select2.full.min.js') }}"></script>
			<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
			<script src="{{ asset('assets/BO/dist/js/demo.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
			<script src="{{ asset('assets/BO/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
			<script src="{{ asset('assets/BO/custom/dt.js') }}"></script>


			{% block javascripts %}{% endblock %}
		</body>
	</html>
