{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Modification d'une vague
	{{ vague.vNumber }}
	~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">VAGUE</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Modification de la vague n°
										{{ vague.vNumber }}:
									</h3>
								</div>
								<div class="card-body">
									{{ form_start(form) }}
									{{ form_widget(form) }}
									<input type="submit" class="btn btn-outline-info float-right" value="{% if vague.startAt %}Modifier cette nouvelle date d'entrée {% else %} Ajouter cette nouvelle date d'entrée {% endif %}">
									{{ form_start(form) }}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div></div>{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
