{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style></style>

{% endblock %}

{% block title %}
	Date d'entrée ~
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-uppercase">VAGUE</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{% include "admin/layouts/_flashMessage.html.twig" %}
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header card-outline card-info">
									<h3 class="card-title text-uppercase">Liste de touts les vagues :
									</h3>
									<div class="card-tools">
										<button type="button" class="btn bg-info btn-tool" data-toggle="modal" data-target="#add-course">
											Ajouter une nouvellle &nbsp; | &nbsp;
											<i class="fas fa-plus"></i>
										</button>
										<div class="modal fade" id="add-course">
											<div class="modal-dialog">
												{{ form_start(form) }}
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Ajout d'une nouvelle date d'entrée</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														{{ form_widget(form) }}
													</div>
													<div class="modal-footer justify-content-right">
														<input type="reset" value="Effacer les champs" class="btn btn-danger"/>
														<input type="submit" value="Ajouter" class="btn btn-info"/>
													</div>
												</div>
												{{ form_end(form) }}
											</div>
										</div>


									</div>

								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped table-sm text-center">

										<thead>
											<tr>
												<th>ID</th>
												<th>Vague</th>
												<th>Date d'entrée</th>
											</tr>
										</thead>
										<tbody>
											{% for startedVague in startedVagues %}
												<tr>
													<td>{{ startedVague.id }}</td>
													<td>
														Vague
														{{ startedVague.vNumber }}
													</td>

													<td>
														{% if startedVague.startAt %}
															<span class="badge badge-primary">{{ startedVague.startAt | date('Y-m -d') }}</span>
															<a href="{{ path('app_admin_vague_edit', { id: startedVague.id }) }}" class="btn btn-sm btn-outline-danger">
																<i class="fas fa-edit"></i>
															</a>
														{% else %}
															<a href="{{ path('app_admin_vague_edit', { id: startedVague.id }) }}" class="btn btn-sm btn-outline-success">
																Ajouter |
																<i class="fas fa-plus"></i>
															</a>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>ID</th>
												<th>de vague</th>
												<th>Date d'entrée</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div></div>{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
