{% extends "student/st.html.twig" %}
{% block title %}
	Calendrier du programme
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}


		<div class="content-wrapper">
			<section class="content-header" style="margin-bottom: -15px">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="callout callout-info">
								<h5>
									<i class="fas fa-info"></i>
									Calendrier:</h5>
								<span class="text-uppercase text-bold text-uppercase">
									programme scolaire
								</span>
							</div>
						</div>
					</div>
				</section>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card card-primary">
									<div class="card-body p-2">
										<div id="calendar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

	{% endblock %}


	{% block javascripts %}
		<script src="{{ asset('assets/BO/plugins/fullcalendar/main.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/fullcalendar/locales/fr.js') }}"></script>
		<script>
			var urlData = "{{ path('app_student_calendar_get_data') }}";


$.post(urlData, {}, function (data, status, xhr) {
$(function () {
var Calendar = FullCalendar.Calendar;
var calendarEl = document.getElementById("calendar");
var calendar = new Calendar(calendarEl, {
headerToolbar: {
left: "prev,next today",
center: "title",
right: "dayGridMonth,timeGridWeek,timeGridDay"
},
footerToolbar: {
left: "",
center: "",
right: "listDay, ,listMonth,listYear"
},
themeSystem: "bootstrap",
events: data,
locale: "fr",
buttonText: {
listMonth: "Planning du mois",
listYear: "Planning de l'année",
listDay: "Planning du jour"
}
});

calendar.render();
});
}).done(function () {
console.log("Request done!");
}).fail(function (jqxhr, settings, ex) {
console.log("failed, " + ex);
});
		</script>

	{% endblock %}
